@media (max-width: 1400px) {}
@media (max-width: 1250px) {
    .headphones-about__image-wrapper__img {width: 450px;}
}
@media (max-width: 1200px) {
    .header-wrapper, 
    .headphones-about, 
    .headphones-design {
        padding: 0 10px;
    }
}
@media (max-width: 1024px) {}
@media (max-width: 992px) {
    .headphones-about__image-wrapper__img {width: 350px;}
    .headphones-design__image-wrapper__img {width: 200px;}
    .headphones-design__image-wrapper::before {width: 50px;} 
    .headphones-design__image-wrapper::after {width: 50px;}
}
@media (max-width: 768px) {
    .product-prewiev__title {font-size: 75px;}
    .headphones-about__image-wrapper__img {width: 275px;}
    .headphones-about__text-wrapper__txt,
    .headphones-design__text-wrapper__txt {font-size: 16px;}
    .headphones-design__image-wrapper::before,
    .headphones-design__image-wrapper::after {width: 25px;}
    .headphones-design__image-wrapper__img {width: 165px;}
}
@media (max-width: 576px) {
    .headphones-about {flex-direction: column-reverse;}
    .headphones-about:nth-child(2) {flex-direction: column-reverse;}
    .headphones-about__text-wrapper {width: 100%;}
    .headphones-about__text-wrapper__txt {font-size: 20px; text-align: center;}
    .headphones-about__image-wrapper__img {width: 400px;}

    .headphones-design {
        padding: 0 10px;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }

    .headphones-design__image-wrapper::before {
        content: '';
        position: absolute;
        top: -25px;
        left: 56%;
        display: inline-flex;
        width: 25px;
        border-bottom: 2px solid #C4C4C4;
        transform: rotate(90deg);
    }

    .headphones-design__image-wrapper::after {
        content: '';
        position: absolute;
        bottom: -25px;
        left: 56%;
        display: inline-flex;
        width: 25px;
        border-bottom: 2px solid #C4C4C4;
        transform: rotate(90deg);
    }

    .headphones-design__text-wrapper:first-child,
    .headphones-design__text-wrapper:last-child {
        text-align: center;
        padding-right: 0px;
        padding-left: 0;
        width: 75%;
    }
}

@media (max-width: 480px) {
    .navbar {
        width: 100%; 
        flex-direction: column; 
        align-items: center; 
        padding-left: 62px;
        row-gap: 10px;
        margin: 10px 0;
    } 
    .navbar__list__link {font-size: 15px;} 
    .header-search {column-gap: 20px;}
    .headphones-about__image-wrapper__img {width: 350px;}
    .headphones-about__text-wrapper__txt,
    .headphones-design__text-wrapper__txt {font-size: 18px;}
}

@media (max-width: 375px) {}

